/* ************************************************* */
/* HEADER           ******************************** */
/* ************************************************* */

body{
  font-family: 'Open Sans', sans-serif;
}
  
header {
  background-color: #3f3244;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

header h1, header h2{
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
}

header span {
  color: #34d1d1;
}

.line {
  border: 1px solid #34d1d1;
}

/* ************************************************* */
/* TABS             ******************************** */
/* ************************************************* */

.tab {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.tab button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  float: left;
  outline: none;
  padding: 14px 16px;
  transition: 0.3s;
  width: 25%;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  border-top: none;
  border: 1px solid #ccc;
  display: none;
  padding: 6px 12px;
}

.content-wrapper {
  display: flex;
}

.image-placeholder {

}

img {
  width:250px;
  height:250px;
  padding: 10px;
  margin: 10px;
}